{% extends 'padrao.html' %}
{% block content %}

<tr>
    <td>Alteração da aba imposto dos itens</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Administração de Materiais/Alteração da aba imposto dos itens.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Alteração de PIS e COFINS na Entrada de Documentos</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Administração de Materiais/Alteração de PIS e COFINS na Entrada de Documentos.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Erro ao implantar solicitação de pedido de compra</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Administração de Materiais/Erro ao implantar solicitação de pedido de compra.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Erro de aplicação ao inserir item à solicitação de compra</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Administração de Materiais/Erro de aplicação ao inserir item à solicitação de compra.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Movimentação não permitida no agente x</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Administração de Materiais/Movimentação não permitida no agente x.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Problema ao vincular conhecimento de frete à nota fiscal</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Administração de Materiais/Problema ao vincular conhecimento de frete à nota fiscal.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

{% endblock %}