{% extends 'padrao.html' %}
{% block content %}

<tr>
    <td>Alteração da observação na emissão das notas fiscais</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Faturamento/Alteração_da_observação_na_emissão_das_notas_fiscais.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Alteração do meio de pagamento na emissaão de nota fiscal</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Faturamento/Alteração_o_meio_de_pagamento_na_emissão_de_nota_fiscal.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>O código de tributação do NCM não tem tributação de ICMS vigente definida para a data e a UF</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Faturamento/O código de tributação do NCM não tem tributação de ICMS vigente definida para a data e a UF.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Parametrização de tipo de documento para devolução</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Faturamento/Parametrização de tipo de documento para devolução.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>





{% endblock %}