{% extends 'padrao.html' %}
{% block content %}

<tr>
    <td>Como cadastrar condição pagamento</td>
    <td class="img_png"><a href="{{ url_for('static', filename='pdf/Financeiro/Como_cadastrar_condição_pagamento.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>
<tr>
  <td>Pesquisa</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr> 
<tr>
  <td>Financeiro</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr> 
<tr>
  <td>Financeiro</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr>
<tr>
  <td>Financeiro</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr>
<tr>
  <td>Financeiro</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr>
<tr>
  <td>Financeiro</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr>
<tr>
  <td>Financeiro</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr>
<tr>
  <td>Financeiro</td>
  
  <td><a href="1.pdf" target="_blank"></a></td>
</tr>

{% endblock %}