{% extends 'padrao.html' %}
{% block content %}

<tr>
    <td>Financeiro</td>
    <td></td>
    <td><a href="{{ url_for('static', filename='pdf/1.pdf') }}" target="_blank">PDF teste 2</a></td>
</tr>
<tr>
  <td>Pesquisa</td>
  <td>Teste</td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr> 
<tr>
  <td>Financeiro</td>
  <td></td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr> 
<tr>
  <td>Financeiro</td>
  <td></td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr>
<tr>
  <td>Financeiro</td>
  <td></td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr>
<tr>
  <td>Financeiro</td>
  <td></td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr>
<tr>
  <td>Financeiro</td>
  <td></td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr>
<tr>
  <td>Financeiro</td>
  <td></td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr>
<tr>
  <td>Financeiro</td>
  <td></td>
  <td><a href="1.pdf" target="_blank">PDF teste</a></td>
</tr>

{% endblock %}