{% extends 'padrao.html' %}
{% block content %}

<tr>
    <td>Adição de CFOP às aplicações</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Fiscal/Adição de CFOP às aplicações.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Adição de série fiscal para entrada de documentos</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Fiscal/Adição de série fiscal para entrada de documentos.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Alteração de informações automáticas no MegaERP</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Fiscal/Alteração de informações automáticas no MegaERP.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Inserção de NCM no MegaERP</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Fiscal/Inserção de NCM no MegaERP.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>O serviço não tem alíquota de ISS configurada</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Fiscal/O serviço não tem alíquota de ISS configurada.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>

<tr>
    <td>Verificação da composição da base de cálculo dos impostos</td>
    
    <td class="img_pdf"><a href="{{ url_for('static', filename='pdf/Fiscal/Verificação da composição da base de cálculo dos impostos.pdf') }}" target="_blank"><img src="{{ url_for('static', filename='img/pdf.png') }}" alt=""></a></td>
</tr>



{% endblock %}